<div class="tabs">
    <div class="tab active" data-tab="mapa"><i class="fas fa-map-marked-alt"></i> Mapa Interactivo</div>
    <div class="tab hidden" data-tab="universidades"><i class="fas fa-university"></i> Universidades</div>
    <div class="tab hidden" data-tab="ciudades"><i class="fas fa-city"></i> Ciudades</div>
    <div class="tab hidden" data-tab="favoritos"><i class="fas fa-heart"></i> Favoritos</div>
    <div class="tab hidden" data-tab="ranking"><i class="fas fa-trophy"></i> Ranking</div>
    <div class="tab" data-tab="admin"><i class="fas fa-cog"></i> Admin</div>
    <div class="love-heart" id="loveHeart" title="💕 Click para una sorpresa">
        <span class="heart-icon"><i class="fas fa-heart"></i></span>
        <span class="love-text">Click para una sorpresa</span>
    </div>
</div>